body {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    min-height: 50vh;
    max-width: 100vh;
    background-color: #f6fbff;
    padding: 70px;
    margin: 0 auto;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  .columns {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding-bottom: 20px;
  }
  
  .left, .right {
    padding: 6px;
  }
  
  .about, .work, .contact, .project {
    margin-bottom: 35px;
  }
  
  .title, .about {
    color: #111;
  }
  
  .info {
    color: #999;
  }
  
  a {
    text-decoration: none; 
    color: #111;
  }
  a:hover {
    text-decoration: underline; 
  }

  .comment {
    padding-top: 2px;
  }

  .svg {
    transform: translateY(2px);
    padding-left: 1px;
  }
 
  #downloadbtn {
    padding-bottom: 0.5px;
    padding-left: 1.5px;
  }

  #backbtn {
    padding-left: 5px;
    margin-bottom: 15px;
  }

  @media (max-width: 599px) {
    body {
        font-size: 18px;
        padding: 4%;
    }
    .columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .columns.contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .svg {
      display: none;
    }
    
    a {
      text-decoration: underline;
    }
}